h2{
    color: yellow;
}

body{
    background-color: #0A4E63;
    color: white;
    font-family: Roboto;
    text-align: center;
}

header{
    border-bottom: 1px solid grey;
}

footer{
    border-top: 1px solid grey;
}